---
import Icon from './Icon.astro'
---

<div class="page rating-page" id="rating_page">
    <Icon />
</div>


<style>
    .rating-page
    {
        height: inherit;
        border-radius: inherit;
        z-index: 3000;
    }
</style>