---
import RatingButtons from "./RatingButtons.astro";
---

<div class="container rating-buttons-container">
    <RatingButtons />
</div>

<style>
    .container.rating-buttons-container
    {
        position: absolute;
        bottom: 80px;
        left: 40px;
    }
</style>
