---
import Icon from './Icon.astro'
import RatingText from './RatingText.astro'
import RatingButtonsContainer from './RatingButtonsContainer.astro'
---

<div class="page rating-page" id="rating_page">
    <Icon />
    <RatingText ratingHeader="How did we do?" ratingText="Please let us know how we did with your support request. All feedback is appreciated to help us improve our offering."/>
    <RatingButtonsContainer />
</div>


<style>
    .rating-page
    {
        height: inherit;
        border-radius: inherit;
        z-index: 3000;
    }
</style>