---
import Rating from './Rating.astro'

---

<div class="container ratings-container" id="ratings_container">
    <Rating />
  
</div>


<style>
    .container.ratings-container
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 400px;
        width: 400px;
        background-color: var(--rating-container-background-color);
        border-radius: calc(var(--base-border-radius) * 2);
        box-shadow: var(--box-shadow);
    }
</style>